/*Este CSS es para código que modifique los elementos que el grupo vaya a crear, Sebastián*/


/*---Colores primarios y secundarios para background, Sebastián---*/
.bg-color-primario {
  background-color:#2660a4;
}

.bg-color-primario-light {
  background-color:#608dd6;
}

.bg-color-primario-dark {
  background-color:#003775;
}

.bg-color-secundario {
  background-color:#b2ebf2;
}

.bg-color-secundario-light {
  background-color:#e5ffff;
}

.bg-color-secundario-dark {
  background-color:#81b9bf;
}

/*----------------------------Botones------------------------------*/
.btn-outline-primario {
    color: #2660a4;
    border-color: #2660a4;
  }

  .btn-primario {
    color: #fff;
    background-color: #2660a4;
    border-color: #2660a4;
  }

  .btn-secundario-dark {
    color: black;
    background-color: #81b9bf;
    border-color: #81b9bf;
  }

  /*----------------------------Tablas------------------------------*/
  .table-primario-dark {
    --bs-table-bg: #003775;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
  }

  /*---------------------------Texto----------------------------------*/
  @font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  .texto-sidebar-primario {
    font-family: 'Varela Round';
    color: white;
  }